# Ignore local installation log file
install-dev-tools.log


# =========================================
# IntelliJ IDEA
# =========================================
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/